#include <windows.h>
#include "resource.h"

MAINWINDOW DIALOGEX 100, 100, 520, 355
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_VISIBLE
CAPTION "Strange Attractors"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
	LTEXT "a = ", TextA, 7, 25, 100, 8
	LTEXT "b = ", TextB, 7, 62, 100, 8
	LTEXT "c = ", TextC, 7, 97, 100, 8
	LTEXT "d = ", TextD, 7, 129, 100, 8
	LTEXT "x = sin(a*pi*y0) - cos(b*pi*x0)", 0, 8, 171, 102, 8
	LTEXT "y = sin(c*pi*x0) - cos(d*pi*y0)", 0, 8, 181, 101, 8
	CONTROL	"", SliderA, "msctls_trackbar32", TBS_NOTICKS | WS_TABSTOP, 15, 41, 100, 15
	CONTROL	"", SliderB, "msctls_trackbar32", TBS_NOTICKS | WS_TABSTOP, 15, 74, 100, 15
	CONTROL "", SliderC, "msctls_trackbar32", TBS_NOTICKS | WS_TABSTOP, 15, 111, 100, 15
	CONTROL "", SliderD, "msctls_trackbar32", TBS_NOTICKS | WS_TABSTOP, 15, 149, 100, 15
END
